extend ../masterlayout/masterpage
block body
	.jumbotron
		h2 Gulp-Sass-Pug Boiler Plate
		p Bunny Web
		a(href='https://github.com/thebunnyweb/boilerplate') Github repo
	.info
		h2 Features
		ul
			li Minification Code
			li Auto Browser Refresh
			li Components Bases Architecture
			li Image Minification
			li Sass Included
			li Pug Included
			li Included Bootstrap
			li Included jQuery
			li Included Slick Carousel Plugin
